<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="icon" type="image/x-icon" href="/static/eye.ico">
    <title>Go CV</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; gap: 5px;">
        <h1 style="text-align: center; font-family: Montserrat;">Go CV</h1>
        <p style="text-align: center; font-family: Montserrat;">Drop your video below to start processing it's frames</p>
        <input value="Choose" type="file" accept=".wav, .mp4" style="text-align: center; font-family: Montserrat; margin: auto; text-align: center;">
    </div>
    <div style="display: none;">
        <label for="file">File progress:</label>
        <progress id="file" max="100" value="10"></progress>
    </div>
</body>