<head>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; gap: 5px;">
        <h1 style="text-align: center; font-family: Montserrat;">Go CV</h1>
        <p style="text-align: center; font-family: Montserrat;">Drop your video below to start processing it's frames</p>
        <input value="Choose" type="file" accept=".wav, .mp4" style="text-align: center; font-family: Montserrat; margin: auto; text-align: center;">
    </div>
</body>